html {
    font-size: 62.5%; /* 10px */
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #052a42;
}

.nav-menu li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    font-weight: 800;
    z-index: 999;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    font-size: 1.6rem;
}

.nav-branding {
    font-size: 3.2rem;
    color: #f5f4f5;
}

.nav-link {
    color: #f5f4f5;
    transition: 0.7s ease;
}

.nav-link:hover {
    color: #a8aec8;
}

.hamburger{
    display:none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    margin: 0.5rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #f5f4f5;
}

@media(max-width: 768px){
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(0.8rem) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-0.8rem) rotate(-45deg);
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #052a42;
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 7rem;
        gap: 0;
        flex-direction: column;
        background-color: #052a42;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin:1.6rem 0;
    }

    .nav-menu.active{
        left: 0;
    }
}

/* about me */


.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 5rem 0;
    font-weight: 400;
    color: #f5f4f5;
    height: 85vh;
}

.about-me-container{
    font-size: 2rem;
    max-width: 550px;
}

.about-me h1{
    font-size: 5rem;
    color: #a8aec8;
}

@media(max-width: 1024px) {
    .about-me-container{
        font-size: 1.7rem;
        width: 80vw;
    }

    .about-me h1{
        font-size: 4rem;
    }

    .about-me img {
        width: 400px;
    }
}

@media(max-width: 480px) {
    body::before {
        display: block;
        content: '';
        height: 6rem;
    }

    .about-me-container{
        font-size: 1.5rem;
        max-width: 350px;
    }

    .about-me h1{
        font-size: 3.5rem;
    }

    .about-me img {
        display: none;
    }
}

/* skills */
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #052a42;
    font-size: 2rem;
    background-color: #f5f4f5;
    height: 70vh;
}

.skills h2 {
    margin: 4rem 0 8rem 0;
    font-size: 3.5rem;
    color: #052a42;
}

.icon-container {
    width: 60px; 
    height: 60px; 
    padding: 2.5rem;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #1d2022;
    background-color: #a8aec8;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.skills svg {
    fill: #052a42;
    width: 40px; 
    height: 40px; 
}

.skills ul {
    margin-left: 1.5rem;
}

.skills li {
    font-size: 1.8rem;
}


.skills-container {
    display: flex;
    flex-direction: row;
    gap: 15rem;
}

.skills h3 {
    font-size: 2.5rem;
}

@media(max-width: 480px) {
    .skills {
        height: auto;
        padding-bottom: 4rem;
    }

    .skills-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;
    }

    .skill {
        width: 130px;
        height: 225px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .icon-container {
        width: 50px; 
        height: 50px; 
        padding: 1.5rem;
        box-sizing: content-box;
        border: 3px solid #1d2022;
        background-color: #a8aec8;
        border-radius: 50%;
        margin-bottom: 2rem;
    }

}

/* my project */
.my-projects {
    height: 80vh;
    background-color: #052a42;
    font-size: 2rem;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #1d2022;
}

.project-container h2{
    margin: 4rem 0 8rem 0;
    font-size: 3.5rem;
    color: #f5f4f5;
}

.project-cell-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.project-cell {
    padding: 5rem;
    border-radius: 0.8rem;
    background-color: #f5f4f5;
    transition: all 0.3s ease-in;
    width: 450px;
    height: 500px;
}

.project-cell p {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.project-cell:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateY(-5px);
}

.project-cell img {
    width: 380px;
}

@media(max-width: 1280px) {
    .project-cell-container {
        gap: 2rem;
    }

    .project-cell img {
        width: 300px;
    }
}

@media(max-width: 1024px) {
    .my-projects {
        font-size: 1.6rem;
    }
    
    .project-cell {
        width: 300px;
        height: 320px;
    }

    .project-cell img {
        width: 250px;
    }
}

@media(max-width: 480px) {
    .my-projects {
        font-size: 1.6rem;
        height: auto;
        padding-bottom: 3rem;
    }
    .my-projects h2 {
        font-size: 2.5rem;
    }
    .project-cell-container {
        flex-direction: column;
    }

    .project-cell {
        width: 280px;
    }

    .project-cell img {
        width: 200px;
    }

}

  /* footer */
  

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    background-color: #f5f4f5;
    font-size: 1.5rem;
    color: #1d2022;
}

.footer-title {
    text-align: center;
    margin-bottom: 2rem;
}

.links svg {
    margin: 0 1rem;
    transition: 0.3s
}

.links svg:hover {
    height: 55px;
}

.footer p {
    text-align: center;
    margin-top: 1rem;
}

@media(max-width: 1024px) {
    .footer {
        font-size: 1.1rem;
    }

    .links svg {
        width: 30px;
        height: 30px;
    }

    .links svg:hover {
        height: 35px;
    }
}

@media(max-width: 480px) {
    .footer {
        font-size: 1.1rem;
    }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (prefers-reduced-motion: no-preference) {
    .hidden {
      transition: all 1s;
    }
  }

